@charset "UTF-8";
/* Обнуляющий стиль */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.ibg img {
  display: none;
}

/*------------------*/
/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: black;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

@font-face {
  font-family: 'Museo Sans';
  src: url("../fonts/MuseoSans/MuseoSansCyrl-500.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-500.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-500.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans';
  src: url("../fonts/MuseoSans/MuseoSansCyrl-900.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-900.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-900.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans';
  src: url("../fonts/MuseoSans/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans';
  src: url("../fonts/MuseoSans/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* common styles */
body {
  overflow-x: hidden;
  font-family: "Museo Sans";
  font-weight: 700;
}

body.lock {
  overflow-y: hidden;
}

.container {
  max-width: 970px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-size: 36px;
  color: #535353;
  text-align: center;
}

.submit-button {
  display: inline-block;
  border-radius: 22.5px;
  background-color: #68b0c9;
  -webkit-box-shadow: 0 5px 5px rgba(1, 1, 1, 0.1);
          box-shadow: 0 5px 5px rgba(1, 1, 1, 0.1);
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  margin: 0 auto;
  cursor: pointer;
  -webkit-transition: background-color .25s ease;
  transition: background-color .25s ease;
}

.submit-button:hover {
  background-color: #5e5e5e;
}

/* ------------- */
.header {
  padding: 15px 0;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 424px) {
  .header .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 424px) {
  .header__logo {
    margin: 0 0 15px 0;
  }
}

.header__right {
  margin: 0 0 7px 0;
  text-align: right;
}

@media (max-width: 424px) {
  .header__right {
    text-align: center;
    margin: 0;
  }
}

.header__phone {
  font-size: 24px;
  color: #5e5e5e;
  margin: 0 0 8px 0;
}

.header__back-call {
  text-decoration: underline;
  color: #5892a6 !important;
  font-weight: 500;
}

.home {
  background: url("../images/home/bg.webp") 50% 50%/cover no-repeat, #ebf2f7;
  padding: 80px 0 61px 0;
}

.home__title {
  color: #535353;
  font-size: 41px;
  line-height: 50px;
  margin: 0 0 8px 0;
  text-align: right;
  max-width: 600px;
  margin: 0 0 0 auto;
}

@media (max-width: 767px) {
  .home__title {
    max-width: 100%;
    font-size: 36px;
    line-height: 45px;
    text-align: left;
    margin: 0 0 16px 0;
  }
}

@media (max-width: 429px) {
  .home__title {
    font-size: 32px;
    line-height: 41px;
  }
}

@media (max-width: 366px) {
  .home__title {
    font-size: 29px;
    line-height: 38px;
  }
}

@media (max-width: 332px) {
  .home__title {
    font-size: 27px;
    line-height: 36px;
  }
}

.home__subtitle {
  color: #5892a6;
  font-size: 27px;
  font-weight: 500;
  line-height: 42.35px;
  margin: 0 0 60px 0;
  text-align: right;
}

@media (max-width: 767px) {
  .home__subtitle {
    text-align: left;
    font-size: 24px;
    line-height: normal;
  }
}

.home__form {
  max-width: 300px;
  min-height: 240px;
  -webkit-box-shadow: 0 0 38px rgba(104, 176, 201, 0.34);
          box-shadow: 0 0 38px rgba(104, 176, 201, 0.34);
  background-color: #fff;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 36px;
  text-align: center;
  margin: 0 0 0 auto;
}

@media (max-width: 767px) {
  .home__form {
    max-width: 100%;
  }
}

.home__form-title {
  color: #5892a6;
  font-size: 20px;
  margin: 0 0 14px 0;
}

.home__text {
  font-size: 12px;
  font-weight: 300;
  margin: 0 0 19px 0;
}

.home__input {
  width: 220px;
  text-align: center;
  margin: 0 0 15px 0;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #e8e8e8;
  font-size: 13px;
  font-weight: 500;
}

@media (max-width: 767px) {
  .home__input {
    width: 100%;
  }
}

.home__submit {
  width: 220px;
  height: 45px;
}

@media (max-width: 767px) {
  .home__submit {
    width: 100%;
  }
}

.why {
  padding: 80px 0 100px 0;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f9fbfd), to(#ffffff));
  background-image: linear-gradient(to top, #f9fbfd 0%, #ffffff 100%);
}

.why__title {
  margin: 0 0 131px 0;
}

.why__list {
  max-width: 780px;
  margin: 0 auto;
}

.why__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 105px 0;
}

@media (max-width: 767px) {
  .why__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 599px) {
  .why__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.why__item:last-child {
  margin: 0;
}

.why__item:nth-child(odd) {
  text-align: left;
}

.why__item:nth-child(odd) .why__image {
  margin: 0 0 0 80px;
}

@media (max-width: 767px) {
  .why__item:nth-child(odd) .why__image {
    margin: 0 0 0 30px;
  }
}

@media (max-width: 599px) {
  .why__item:nth-child(odd) .why__image {
    margin: 0 auto;
  }
}

.why__item:nth-child(odd) .why__name:after {
  right: -101px;
}

.why__item:nth-child(even) {
  text-align: right;
}

.why__item:nth-child(even) .why__image {
  margin: 0 80px 0 0;
}

@media (max-width: 767px) {
  .why__item:nth-child(even) .why__image {
    margin: 0 30px 0 0;
  }
}

@media (max-width: 599px) {
  .why__item:nth-child(even) .why__image {
    margin: 0 auto;
  }
}

.why__item:nth-child(even) .why__name:after {
  left: -137px;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

@media (max-width: 599px) {
  .why__item:nth-child(even) .why__col:first-child {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .why__item:nth-child(even) .why__col:last-child {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

.why__name {
  color: #68b0c9;
  font-size: 30px;
  max-width: 400px;
  margin: 36px 0 31px 0;
  line-height: 35px;
  position: relative;
}

@media (max-width: 767px) {
  .why__name {
    margin: 0 0 20px 0;
  }
}

@media (max-width: 599px) {
  .why__name {
    max-width: 100%;
    text-align: center;
  }
}

.why__name:after {
  content: "";
  display: block;
  position: absolute;
  top: -88px;
  width: 199px;
  height: 53px;
  background: url("../images/why/arrow.png") no-repeat 50% 50%;
}

@media (max-width: 767px) {
  .why__name:after {
    display: none;
  }
}

.why__text {
  font-weight: 300;
  max-width: 400px;
  font-size: 18px;
  line-height: 24px;
}

@media (max-width: 599px) {
  .why__text {
    max-width: 100%;
    text-align: center;
    margin: 0 0 20px 0;
  }
}

.why__image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
}

@media (max-width: 330px) {
  .why__image {
    width: 290px;
    height: 290px;
  }
}

.why__image:after {
  content: "";
  display: block;
  position: absolute;
  width: 183px;
  height: 26px;
  bottom: -25px;
  left: calc(50% - 91.5px);
  background: url("../images/why/shadow.png") 50% 50% no-repeat;
}

.sale {
  padding: 70px 0 49px 0;
  background: url("../images/sale/bg.webp") 50% 50%/cover no-repeat, #ecf3f8;
}

.sale .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 767px) {
  .sale .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.sale__col:last-child {
  margin: 0 0 0 98px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .sale__col:last-child {
    margin: 0;
  }
}

.sale__price {
  width: 150px;
  height: 150px;
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  border-radius: 50%;
  margin: 120px 0 0 0;
}

.sale__price:after {
  content: "";
  display: block;
  width: 155px;
  height: 64px;
  background: url("../images/sale/arrow.png") 50% 50% no-repeat;
  position: absolute;
  left: 102px;
  bottom: -77px;
}

@media (max-width: 767px) {
  .sale__price:after {
    display: none;
  }
}

@media (max-width: 767px) {
  .sale__price {
    margin: 0 auto 47px auto;
  }
}

.sale__price-old {
  font-size: 18px;
  text-decoration: line-through;
  font-weight: 300;
  color: #1e1e1e;
}

.sale__price-old:after {
  content: "";
  display: block;
  height: 1px;
  width: 120px;
  margin: 10px 0 11px 0;
  background-color: #e8e8e8;
}

.sale__price-new {
  color: #d04545;
  font-size: 30px;
  position: relative;
  left: 4px;
}

.sale__title {
  color: #535353;
  font-size: 55px;
  text-transform: uppercase;
  margin: 0 0 13px 0;
}

@media (max-width: 380px) {
  .sale__title {
    font-size: 42px;
  }
}

.sale__subtitle {
  color: #535353;
  font-size: 26px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0 0 12px 0;
}

@media (max-width: 380px) {
  .sale__subtitle {
    font-size: 18px;
  }
}

.sale__subtitle-gift {
  color: #68b0c9;
  font-size: 25px;
  text-align: center;
  margin: 0 0 47px 0;
  position: relative;
}

.sale__subtitle-gift:before {
  content: "";
  display: block;
  width: 22px;
  height: 20px;
  background: url("../images/sale/gift.png") 50% 50% no-repeat;
  position: absolute;
  left: -33px;
  top: 4px;
}

.sale__block {
  background-color: #ecf3f8;
  width: 275px;
  height: 200px;
  border-radius: 23px;
  border: 5px solid #ffffff;
  padding: 28px;
}

@media (max-width: 767px) {
  .sale__block {
    width: 100%;
  }
}

.sale__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 35px 0;
}

.sale__block-text {
  font-size: 14px;
  color: #d35656;
  line-height: 16px;
}

.sale__calendar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48px;
          flex: 0 0 48px;
  height: 43px;
  background: url("../images/sale/calendar.png") 50% 50% no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  color: #ffffff;
  margin: 0 14px;
}

.sale__submit {
  width: 200px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  color: #ffffff !important;
}

@media (max-width: 767px) {
  .sale__submit {
    width: 100%;
  }
}

.statistics {
  padding: 70px 0 77px 0;
  overflow: hidden;
}

.statistics .container {
  max-width: 880px;
}

.statistics__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 424px) {
  .statistics__list {
    margin: -30px;
  }
}

.statistics__item {
  margin: 50px;
}

@media (max-width: 424px) {
  .statistics__item {
    margin: 30px;
  }
}

.statistics__number {
  height: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../images/statistics/01.png") 50% 50% no-repeat;
  font-size: 48px;
  font-weight: 700;
  color: #68b0c9;
  margin: 0 0 20px 0;
}

.statistics__text {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: #535353;
}

.certificate {
  padding: 80px 0 92px 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9fbfd), to(#ecf3f8));
  background-image: linear-gradient(to bottom, #f9fbfd 0%, #ecf3f8 100%);
}

.certificate .container {
  max-width: 803px;
}

.certificate__title {
  margin: 0 0 88px 0;
}

.certificate__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 631px) {
  .certificate__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.certificate__zoom {
  display: block;
  margin: 0 150px 0 0;
}

@media (max-width: 879px) {
  .certificate__zoom {
    margin: 0 100px 0 0;
  }
}

@media (max-width: 767px) {
  .certificate__zoom {
    margin: 0 50px 0 0;
  }
}

@media (max-width: 631px) {
  .certificate__zoom {
    margin: 0 0 80px 0;
  }
}

.certificate__image {
  border: 5px solid #484848;
}

.certificate__row {
  margin: 0 0 49px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 631px) {
  .certificate__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.certificate__warning {
  margin: 0 22px 0 0;
}

@media (max-width: 631px) {
  .certificate__warning {
    margin: 0 0 10px 0;
  }
}

.certificate__heading {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 323px;
          flex: 0 1 323px;
  font-size: 22px;
  color: #68b0c9;
}

@media (max-width: 631px) {
  .certificate__heading {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

.certificate__text {
  font-size: 18px;
  font-weight: 500;
  color: #323232;
  margin: 0 0 28px 0;
}

.certificate__text:last-child {
  margin: 0;
}

.struct {
  padding: 132px 0 72px 0;
}

@media (max-width: 767px) {
  .struct {
    padding: 72px 0;
  }
}

.struct .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 840px;
}

@media (max-width: 767px) {
  .struct .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.struct__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.struct__item {
  max-width: 240px;
  position: relative;
}

@media (max-width: 767px) {
  .struct__item {
    max-width: 100%;
    margin: 0 0 30px;
  }
  .struct__item:last-child {
    margin: 0;
  }
}

.struct__item:after {
  content: "";
  display: block;
  position: absolute;
}

@media (max-width: 839px) {
  .struct__item:after {
    display: none;
  }
}

.struct__item-1 {
  text-align: right;
}

.struct__item-1:after {
  width: 122px;
  height: 109px;
  background: url("../images/struct/01.png") no-repeat;
  top: 5px;
  right: -134px;
}

.struct__item-2 {
  text-align: right;
}

.struct__item-2:after {
  width: 144px;
  height: 54px;
  background: url("../images/struct/02.png") no-repeat;
  top: -33px;
  right: -127px;
}

.struct__item-3:after {
  width: 150px;
  height: 78px;
  background: url("../images/struct/03.png") no-repeat;
  top: -39px;
  left: -145px;
}

.struct__item-4:after {
  width: 143px;
  height: 53px;
  background: url("../images/struct/04.png") no-repeat;
  top: 6px;
  left: -150px;
}

.struct__title {
  font-size: 20px;
  color: #68b0c9;
  margin: 0 0 19px 0;
}

.struct__text {
  color: #606060;
  font-weight: 300;
  line-height: 17px;
}

@media (max-width: 767px) {
  .struct__image {
    margin: 30px 0;
  }
}

.delivery {
  padding: 59px 0 70px 0;
  background: url("../images/delivery/bg.webp") 50% 50%/cover no-repeat;
}

.delivery .container {
  max-width: 770px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 767px) {
  .delivery .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.delivery__price {
  margin: 19px 197px 0 0;
  width: 150px;
  height: 150px;
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  border-radius: 50%;
}

@media (max-width: 767px) {
  .delivery__price {
    margin: 0 auto 30px auto;
  }
}

.delivery__sale {
  color: #68b0c9;
  font-size: 17px;
  font-weight: 700;
}

.delivery__old {
  color: #1e1e1e;
  font-weight: 300;
  text-decoration: line-through;
}

.delivery__new {
  font-size: 24px;
  color: #d04545;
}

.delivery__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.delivery__title {
  color: #535353;
  font-size: 20px;
  line-height: 23px;
  margin: 0 0 9px 0;
  width: 230px;
}

@media (max-width: 767px) {
  .delivery__title {
    width: 100%;
  }
}

.delivery__subtitle {
  color: #68b0c9;
  font-size: 20px;
  margin: 0 0 27px 0;
  padding: 4px;
  background-color: #fff;
  position: relative;
}

.delivery__subtitle:after {
  content: "";
  display: block;
  position: absolute;
  width: 65px;
  height: 105px;
  background: url("../images/delivery/arrow.png") no-repeat;
  top: 8px;
  right: -99px;
}

@media (max-width: 944px) {
  .delivery__subtitle:after {
    left: -99px;
    -webkit-transform: scale(-1, 1);
            transform: scale(-1, 1);
  }
}

@media (max-width: 767px) {
  .delivery__subtitle:after {
    display: none;
  }
}

.delivery__tel {
  width: 260px;
  text-align: center;
  margin: 0 0 20px 0;
  height: 45px;
  border-radius: 22.5px;
  border: 1px solid #e8e8e8;
  font-weight: 500;
  font-size: 13px;
}

@media (max-width: 767px) {
  .delivery__tel {
    width: 100%;
  }
}

.delivery__submit {
  font-size: 14px;
  width: 260px;
  height: 45px;
}

@media (max-width: 767px) {
  .delivery__submit {
    width: 100%;
  }
}

.compare {
  padding: 62px 0 78px 0;
}

.compare .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .compare .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.compare__col {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.compare__col:first-child {
  text-align: right;
  margin: 0 9px 0;
}

@media (max-width: 767px) {
  .compare__col:first-child {
    margin: 0 0 50px 0;
  }
}

.compare__col:first-child .compare__title {
  color: #535353;
  margin: 0 32px 0 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media (max-width: 767px) {
  .compare__col:first-child .compare__title {
    margin: 0 0 20px 0;
  }
}

@media (max-width: 767px) {
  .compare__col:first-child .compare__body {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.compare__col:first-child .compare__item {
  color: #939393;
}

.compare__col:first-child .compare__image {
  position: relative;
}

@media (max-width: 767px) {
  .compare__col:first-child .compare__image {
    right: -15px;
  }
}

.compare__col:first-child .compare__image:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -5px;
  width: 1px;
  height: 299px;
  background-color: #68b0c9;
}

@media (max-width: 767px) {
  .compare__col:first-child .compare__image:after {
    display: none;
  }
}

.compare__col:last-child .compare__title {
  color: #68b0c9;
  margin: 0 0 0 32px;
}

@media (max-width: 767px) {
  .compare__col:last-child .compare__title {
    margin: 0 0 20px 0;
  }
}

@media (max-width: 767px) {
  .compare__col:last-child .compare__body {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.compare__col:last-child .compare__item {
  color: #68b0c9;
}

@media (max-width: 767px) {
  .compare__col:last-child .compare__image {
    left: -15px;
  }
}

.compare__title {
  font-size: 22px;
  width: 150px;
}

@media (max-width: 767px) {
  .compare__title {
    width: 100%;
    font-size: 27px;
  }
}

.compare__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 11px 0 0 0;
}

@media (max-width: 767px) {
  .compare__body {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.compare__item {
  max-width: 210px;
  line-height: 18px;
  font-size: 15px;
  position: relative;
  margin: 0 0 28px 0;
}

.compare__item:last-child {
  margin: 0;
}

@media (max-width: 767px) {
  .compare__item {
    max-width: 100%;
  }
}

.compare__item:after {
  position: absolute;
  content: "";
  display: block;
}

@media (max-width: 767px) {
  .compare__item:after {
    display: none;
  }
}

.compare__item-1:after {
  background: url("../images/compare/01.png") no-repeat;
  width: 81px;
  height: 41px;
  top: 5px;
  right: -103px;
}

.compare__item-2:after {
  background: url("../images/compare/02.png") no-repeat;
  width: 87px;
  height: 29px;
  top: 3px;
  right: -103px;
}

.compare__item-3:after {
  background: url("../images/compare/03.png") no-repeat;
  width: 87px;
  height: 23px;
  top: -14px;
  right: -107px;
}

.compare__item-4:after {
  background: url("../images/compare/04.png") no-repeat;
  width: 85px;
  height: 34px;
  top: -28px;
  right: -108px;
}

.compare__item-5:after {
  background: url("../images/compare/05.png") no-repeat;
  width: 82px;
  height: 42px;
  top: 4px;
  left: -105px;
}

.compare__item-6:after {
  background: url("../images/compare/06.png") no-repeat;
  width: 86px;
  height: 30px;
  top: 2px;
  left: -104px;
}

.compare__item-7:after {
  background: url("../images/compare/07.png") no-repeat;
  width: 88px;
  height: 22px;
  top: -14px;
  left: -105px;
}

.compare__item-8:after {
  background: url("../images/compare/08.png") no-repeat;
  width: 84px;
  height: 34px;
  top: -31px;
  left: -105px;
}

@media (max-width: 767px) {
  .compare__image {
    position: relative;
  }
}
