@charset "UTF-8";
/* Обнуляющий стиль */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.ibg img {
  display: none;
}

/*------------------*/
/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: black;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

@font-face {
  font-family: 'Museo Sans';
  src: url("../fonts/MuseoSans/MuseoSansCyrl-500.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-500.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-500.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans';
  src: url("../fonts/MuseoSans/MuseoSansCyrl-900.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-900.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-900.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans';
  src: url("../fonts/MuseoSans/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans';
  src: url("../fonts/MuseoSans/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* common styles */
body {
  overflow-x: hidden;
  font-family: "Museo Sans";
  font-weight: 700;
}

body.lock {
  overflow-y: hidden;
}

.container {
  max-width: 970px;
  padding: 0 15px;
  margin: 0 auto;
}

/* ------------- */
.header {
  padding: 15px 0;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 424px) {
  .header .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 424px) {
  .header__logo {
    margin: 0 0 15px 0;
  }
}

.header__right {
  margin: 0 0 7px 0;
  text-align: right;
}

@media (max-width: 424px) {
  .header__right {
    text-align: center;
    margin: 0;
  }
}

.header__phone {
  font-size: 24px;
  color: #5e5e5e;
  margin: 0 0 8px 0;
}

.header__back-call {
  text-decoration: underline;
  color: #5892a6 !important;
  font-weight: 500;
}

.home {
  background: url("../images/home/bg.webp") 50% 50% no-repeat, #ebf2f7;
  padding: 80px 0 61px 0;
}

.home__title {
  color: #535353;
  font-size: 41px;
  line-height: 50px;
  margin: 0 0 8px 0;
  text-align: right;
  max-width: 600px;
  margin: 0 0 0 auto;
}

@media (max-width: 767px) {
  .home__title {
    max-width: 100%;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
  }
}

@media (max-width: 429px) {
  .home__title {
    font-size: 32px;
    line-height: 41px;
  }
}

@media (max-width: 366px) {
  .home__title {
    font-size: 29px;
    line-height: 38px;
  }
}

@media (max-width: 332px) {
  .home__title {
    font-size: 27px;
    line-height: 36px;
  }
}

.home__subtitle {
  color: #5892a6;
  font-size: 27px;
  font-weight: 500;
  line-height: 42.35px;
  margin: 0 0 60px 0;
  text-align: right;
}

@media (max-width: 767px) {
  .home__subtitle {
    text-align: center;
  }
}

.home__form {
  max-width: 300px;
  min-height: 240px;
  -webkit-box-shadow: 0 0 38px rgba(104, 176, 201, 0.34);
          box-shadow: 0 0 38px rgba(104, 176, 201, 0.34);
  background-color: #fff;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 36px;
  text-align: center;
  margin: 0 0 0 auto;
}

@media (max-width: 767px) {
  .home__form {
    max-width: 100%;
  }
}

.home__form-title {
  color: #5892a6;
  font-size: 20px;
  margin: 0 0 14px 0;
}

.home__text {
  font-size: 12px;
  font-weight: 300;
  margin: 0 0 19px 0;
}

.home__input {
  width: 220px;
  text-align: center;
  margin: 0 0 15px 0;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #e8e8e8;
  font-size: 13px;
}

@media (max-width: 767px) {
  .home__input {
    width: 100%;
  }
}

.home__submit {
  width: 220px;
  height: 45px;
  border-radius: 22.5px;
  background-color: #68b0c9;
  -webkit-box-shadow: 0 5px 5px rgba(1, 1, 1, 0.1);
          box-shadow: 0 5px 5px rgba(1, 1, 1, 0.1);
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: background-color .25s ease;
  transition: background-color .25s ease;
}

.home__submit:hover {
  background-color: #5e5e5e;
}

@media (max-width: 767px) {
  .home__submit {
    width: 100%;
  }
}
