@charset "UTF-8";

@import "zerostyle";
@import "slider";
@import "fonts";

/* common styles */
body {
    overflow-x: hidden;
    &.lock {
        overflow-y: hidden;
    }
    font-family: "Museo Sans";
    font-weight: 700;
}
.container {
    max-width: 970px;
    padding: 0 15px;
    margin: 0 auto;
}
.title {
    font-size: 36px;
    color: #535353;
    text-align: center;
}
.text {

}
/* ------------- */
.header {
    padding: 15px 0;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        @media(max-width: 424px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__left {
    }

    &__logo {
        @media(max-width: 424px) {
            margin: 0 0 15px 0;
        }
    }

    &__right {
        margin: 0 0 7px 0;
        text-align: right;
        @media(max-width: 424px) {
            text-align: center;
            margin: 0;
        }
    }

    &__phone {
        font-size: 24px;
        color: #5e5e5e;
        margin: 0 0 8px 0;
    }

    &__back-call {
        text-decoration: underline;
        color: #5892a6 !important;
        font-weight: 500;
    }
}

.home {
    background: url("../images/home/bg.webp") 50% 50% no-repeat, #ebf2f7;
    padding: 80px 0 61px 0;
    &__title {
        color: #535353;
        font-size: 41px;
        line-height: 50px;
        margin: 0 0 8px 0;
        text-align: right;  
        max-width: 600px;
        margin: 0 0 0 auto;
        @media(max-width: 767px) {
            max-width: 100%;
            font-size: 36px;
            line-height: 45px;
            text-align: left;
            margin: 0 0 16px 0;
        }
        @media(max-width: 429px) {
            font-size: 32px;
            line-height: 41px;
        }
        @media(max-width: 366px) {
            font-size: 29px;
            line-height: 38px;
        }
        @media(max-width: 332px) {
            font-size: 27px;
            line-height: 36px;
        }
    }

    &__subtitle {
        color: #5892a6;
        font-size: 27px;
        font-weight: 500;
        line-height: 42.35px;
        margin: 0 0 60px 0;
        text-align: right;
        @media(max-width: 767px) {
            text-align: left;
            font-size: 24px;
            line-height: normal;
        }
    }

    &__form {
        max-width: 300px;
        min-height: 240px;
        box-shadow: 0 0 38px rgba(104, 176, 201, 0.34);
        background-color: #fff;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 36px;
        text-align: center;
        margin: 0 0 0 auto;
        @media(max-width: 767px) {
            max-width: 100%;
        }
    }

    &__form-title {
        color: #5892a6;
        font-size: 20px;
        margin: 0 0 14px 0;
    }

    &__text {
        font-size: 12px;
        font-weight: 300;
        margin: 0 0 19px 0;
    }

    &__input {
        width: 220px;
        text-align: center;
        margin: 0 0 15px 0;
        height: 40px;
        border-radius: 20px;
        border: 1px solid #e8e8e8;
        font-size: 13px;
        @media(max-width: 767px) {
            width: 100%;
        }
    }

    &__submit {
        width: 220px;
        height: 45px;
        border-radius: 22.5px;
        background-color: #68b0c9;
        box-shadow: 0 5px 5px rgba(1, 1, 1, 0.1);
        font-size: 14px;
        font-weight: 700;
        color: #ffffff;
        cursor: pointer;
        transition: background-color .25s ease;
        &:hover {
            background-color: #5e5e5e;
        }
        @media(max-width: 767px) {
            width: 100%;
        }
    }
}

.why {
    padding: 80px 0 100px 0;
    background-image: linear-gradient(to top, #f9fbfd 0%, #ffffff 100%);
    &__title {
        margin: 0 0 131px 0;
    }

    &__list {
        max-width: 780px;
        margin: 0 auto;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        margin: 0 0 105px 0;
        @media(max-width: 767px) {
            align-items: center;
        }
        @media(max-width: 599px) {
            flex-wrap: wrap;
            flex-direction: column;
        }
        &:last-child {
            margin: 0;
        }
        &:nth-child(odd) {
            text-align: left;
            .why__image {
                margin: 0 0 0 80px;
                @media(max-width: 767px) {
                    margin: 0 0 0 30px;
                }
                @media(max-width: 599px) {
                    margin: 0 auto;
                }
            }
            .why__name:after {
                right: -101px;
            }
        }
        &:nth-child(even) {
            text-align: right;
            .why__image {
                margin: 0 80px 0 0;
                @media(max-width: 767px) {
                    margin: 0 30px 0 0;
                }
                @media(max-width: 599px) {
                    margin: 0 auto;
                }
            }
            .why__name:after {
                left: -137px;
                transform: scale(-1, 1);
            }
            @media(max-width: 599px) {
                .why__col:first-child {
                    order: 1;
                }
                .why__col:last-child {
                    order: 0;
                }
            }
        }
    }

    &__name {
        color: #68b0c9;
        font-size: 30px;
        max-width: 400px;
        margin: 36px 0 31px 0;
        line-height: 35px;
        position: relative;
        @media(max-width: 767px) {
            margin: 0 0 20px 0;
        }
        @media(max-width: 599px) {
            max-width: 100%;
            text-align: center;
        }
        &:after {
            content: "";
            display: block;
            position: absolute;
            top: -88px;
            width: 199px;
            height: 53px;
            background: url("../images/why/arrow.png") no-repeat 50% 50%;
            @media(max-width: 767px) {
                display: none;
            }
        }
    }

    &__text {
        font-weight: 300;
        max-width: 400px;
        font-size: 18px;
        line-height: 24px;
        @media(max-width: 599px) {
            max-width: 100%;
            text-align: center;
            margin: 0 0 20px 0;
        }
    }

    &__image {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        position: relative;
        @media(max-width: 330px) {
            width: 290px;
            height: 290px;
        }
        &:after {
            content: "";
            display: block;
            position: absolute;
            width: 183px;
            height: 26px;
            bottom: -25px;
            left: calc(50% - 91.5px);
            background: url("../images/why/shadow.png") 50% 50% no-repeat;
        }
    }
}

