@charset "UTF-8";

@import "zerostyle";
@import "fonts";

/* common styles */
.wrapper {
    font-family: "Museo Sans";
    font-weight: 700;
}
.container {
    max-width: 970px;
    padding: 0 15px;
    margin: 0 auto;
}
.title {
    font-size: 36px;
    color: #535353;
    text-align: center;
}
.submit-button {
    display: inline-block;
    border-radius: 22.5px;
    background-color: #68b0c9;
    box-shadow: 0 5px 5px rgba(1, 1, 1, 0.1);
    font-size: 14px;
    font-weight: 700;
    color: #ffffff !important;
    margin: 0 auto;
    cursor: pointer;
    transition: background-color .25s ease;
    text-transform: uppercase;
    &:hover {
        background-color: #5e5e5e;
    }
}
.text {

}
/* ------------- */
.header {
    padding: 15px 0;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        @media(max-width: 424px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__left {
    }

    &__logo {
        @media(max-width: 424px) {
            margin: 0 0 15px 0;
        }
    }

    &__right {
        margin: 0 0 7px 0;
        text-align: right;
        @media(max-width: 424px) {
            text-align: center;
            margin: 0;
        }
    }

    &__phone {
        font-size: 24px;
        color: #5e5e5e;
        margin: 0 0 8px 0;
    }

    &__back-call {
        text-decoration: underline;
        color: #5892a6 !important;
        font-weight: 500;
    }
}

.home {
    background: url("images/home/bg.webp") 50% 50%/cover no-repeat, #ebf2f7;
    padding: 80px 0 61px 0;
    &__title {
        color: #535353;
        font-size: 41px;
        line-height: 50px;
        margin: 0 0 8px 0;
        text-align: right;  
        max-width: 600px;
        margin: 0 0 0 auto;
        @media(max-width: 767px) {
            max-width: 100%;
            font-size: 36px;
            line-height: 45px;
            text-align: left;
            margin: 0 0 16px 0;
        }
        @media(max-width: 429px) {
            font-size: 32px;
            line-height: 41px;
        }
        @media(max-width: 366px) {
            font-size: 29px;
            line-height: 38px;
        }
        @media(max-width: 332px) {
            font-size: 27px;
            line-height: 36px;
        }
    }

    &__subtitle {
        color: #5892a6;
        font-size: 27px;
        font-weight: 500;
        line-height: 42.35px;
        margin: 0 0 60px 0;
        text-align: right;
        @media(max-width: 767px) {
            text-align: left;
            font-size: 24px;
            line-height: normal;
        }
    }

    &__form {
        max-width: 300px;
        min-height: 240px;
        box-shadow: 0 0 38px rgba(104, 176, 201, 0.34);
        background-color: #fff;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 36px;
        text-align: center;
        margin: 0 0 0 auto;
        @media(max-width: 767px) {
            max-width: 100%;
        }
    }

    &__form-title {
        color: #5892a6;
        font-size: 20px;
        margin: 0 0 14px 0;
    }

    &__text {
        font-size: 12px;
        font-weight: 300;
        margin: 0 0 19px 0;
    }

    &__tel {
        width: 220px;
        text-align: center;
        margin: 0 0 15px 0;
        height: 40px;
        border-radius: 20px;
        border: 1px solid #e8e8e8;
        font-size: 13px;
        font-weight: 500;
        @media(max-width: 767px) {
            width: 100%;
        }
    }

    &__submit {
        width: 220px;
        height: 45px;
        @media(max-width: 767px) {
            width: 100%;
        }
    }
}

.why {
    padding: 80px 0 100px 0;
    background-image: linear-gradient(to top, #f9fbfd 0%, #ffffff 100%);
    &__title {
        margin: 0 0 131px 0;
    }

    &__list {
        max-width: 780px;
        margin: 0 auto;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        margin: 0 0 105px 0;
        @media(max-width: 767px) {
            align-items: center;
        }
        @media(max-width: 599px) {
            flex-wrap: wrap;
            flex-direction: column;
        }
        &:last-child {
            margin: 0;
        }
        &:nth-child(odd) {
            text-align: left;
            .why__image {
                margin: 0 0 0 80px;
                @media(max-width: 767px) {
                    margin: 0 0 0 30px;
                }
                @media(max-width: 599px) {
                    margin: 0 auto;
                }
            }
            .why__name:after {
                right: -101px;
            }
        }
        &:nth-child(even) {
            text-align: right;
            .why__image {
                margin: 0 80px 0 0;
                @media(max-width: 767px) {
                    margin: 0 30px 0 0;
                }
                @media(max-width: 599px) {
                    margin: 0 auto;
                }
            }
            .why__name:after {
                left: -137px;
                transform: scale(-1, 1);
            }
            @media(max-width: 599px) {
                .why__col:first-child {
                    order: 1;
                }
                .why__col:last-child {
                    order: 0;
                }
            }
        }
    }

    &__name {
        color: #68b0c9;
        font-size: 30px;
        max-width: 400px;
        margin: 36px 0 31px 0;
        line-height: 35px;
        position: relative;
        @media(max-width: 767px) {
            margin: 0 0 20px 0;
        }
        @media(max-width: 599px) {
            max-width: 100%;
            text-align: center;
        }
        &:after {
            content: "";
            display: block;
            position: absolute;
            top: -88px;
            width: 199px;
            height: 53px;
            background: url("images/why/arrow.png") no-repeat 50% 50%;
            @media(max-width: 767px) {
                display: none;
            }
        }
    }

    &__text {
        font-weight: 300;
        max-width: 400px;
        font-size: 18px;
        line-height: 24px;
        @media(max-width: 599px) {
            max-width: 100%;
            text-align: center;
            margin: 0 0 20px 0;
        }
    }

    &__image {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        position: relative;
        @media(max-width: 330px) {
            width: 290px;
            height: 290px;
        }
        &:after {
            content: "";
            display: block;
            position: absolute;
            width: 183px;
            height: 26px;
            bottom: -25px;
            left: calc(50% - 91.5px);
            background: url("images/why/shadow.png") 50% 50% no-repeat;
        }
    }
}

.sale {
    padding: 70px 0 49px 0;
    background: url("images/sale/bg.webp") 50% 50%/cover no-repeat, #ecf3f8;
    .container {
        display: flex;
        justify-content: flex-end;
        @media(max-width: 767px) {
            flex-direction: column;
        }
    }
    &__col {
        &:last-child {
            margin: 0 0 0 98px;
            display: flex;
            flex-direction: column;
            align-items: center;
            @media(max-width: 767px) {
                margin: 0;
            }
        }
    }

    &__price {
        width: 150px;
        height: 150px;
        position: relative;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #fff;
        border-radius: 50%;
        margin: 120px 0 0 0;
        &:after {
            content: "";
            display: block;
            width: 155px;
            height: 64px;
            background: url("images/sale/arrow.png") 50% 50% no-repeat;
            position: absolute;
            left: 102px;
            bottom: -77px;
            @media(max-width: 767px) {
                display: none;
            }
        }
        @media(max-width: 767px) {
            margin: 0 auto 47px auto;    
        }
    }

    &__price-old {
        font-size: 18px;
        text-decoration: line-through;
        font-weight: 300;
        color: #1e1e1e;
        &:after {
            content: "";
            display: block;
            height: 1px;
            width: 120px;
            margin: 10px 0 11px 0;
            background-color: #e8e8e8;
        }
    }

    &__price-new {
        color: #d04545;
        font-size: 30px;
        position: relative;
        left: 4px;
    }

    &__title {
        color: #535353;
        font-size: 55px;
        text-transform: uppercase;
        margin: 0 0 13px 0;
        @media(max-width: 380px) {
            font-size: 42px;
        }
    }

    &__subtitle {
        color: #535353;
        font-size: 26px;
        font-weight: 900;
        text-transform: uppercase;
        margin: 0 0 12px 0;
        @media(max-width: 380px) {
            font-size: 18px;
        }
    }

    &__subtitle-gift {
        color: #68b0c9;
        font-size: 25px;
        text-align: center;
        margin: 0 0 47px 0;
        position: relative;
        &:before {
            content: "";
            display: block;
            width: 22px;
            height: 20px;
            background: url("images/sale/gift.png") 50% 50% no-repeat;
            position: absolute;
            left: -33px;
            top: 4px;
        }
    }

    &__block {
        background-color: #ecf3f8;
        width: 275px;
        height: 200px;
        border-radius: 23px;
        border: 5px solid #ffffff;
        padding: 28px;
        @media(max-width: 767px) {
            width: 100%;
        }
    }

    &__row {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 35px 0;
    }

    &__block-text {
        font-size: 14px;
        color: #d35656;
        line-height: 16px;
    }

    &__calendar {
        flex: 0 0 48px;
        height: 43px;
        background: url("images/sale/calendar.png") 50% 50% no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        color: #ffffff;
        margin: 0 14px;
    }

    &__submit {
        width: 200px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        @media(max-width: 767px) {
            width: 100%;
        }
    }
}

.statistics {
    padding: 70px 0 77px 0;
    overflow: hidden;
    .container {
        max-width: 880px;
    }
    &__list {
        display: flex;
        justify-content: center;
        margin: -50px;
        flex-wrap: wrap;
        @media(max-width: 424px) {
            margin: -30px;
        }
    }

    &__item {
        margin: 50px;
        @media(max-width: 424px) {
            margin: 30px;
        }
    }

    &__number {
        height: 94px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: url("images/statistics/01.png") 50% 50% no-repeat;
        font-size: 48px;
        font-weight: 700;
        color: #68b0c9;
        margin: 0 0 20px 0;
    }

    &__text {
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        color: #535353;
    }
}

.certificate {
    padding: 80px 0 92px 0;
    background-image: linear-gradient(to bottom, #f9fbfd 0%, #ecf3f8 100%);
    .container {
        max-width: 803px;
    }

    &__title {
        margin: 0 0 88px 0;
    }
    
    &__content {
        display: flex;
        align-items: center;
        @media(max-width: 631px) {
            flex-direction: column;
        }
    }

    &__col {
    }

    &__zoom {
        display: block;
        margin: 0 150px 0 0;
        @media(max-width: 879px) {
            margin: 0 100px 0 0;
        }
        @media(max-width: 767px) {
            margin: 0 50px 0 0;
        }
        @media(max-width: 631px) {
            margin: 0 0 80px 0;
        }
    }

    &__image {
        border: 5px solid #484848;
    }

    &__row {
        margin: 0 0 49px 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        @media(max-width: 631px) {
            flex-direction: column;
            align-items: start;
        }
    }

    &__warning {
        margin: 0 22px 0 0;
        @media(max-width: 631px) {
            margin: 0 0 10px 0;
        }
    }

    &__heading {
        flex: 0 1 323px;
        font-size: 22px;
        color: #68b0c9;
        @media(max-width: 631px) {
            flex: 1 1 auto;
        }
    }

    &__text {
        font-size: 18px;
        font-weight: 500;
        color: #323232;
        margin: 0 0 28px 0;
        &:last-child {
            margin: 0;
        }
    }
}

.struct {
    padding: 132px 0 72px 0;
    @media(max-width: 767px) {
        padding: 72px 0;
    }
    .container {
        display: flex;
        justify-content: space-between;
        max-width: 840px;
        @media(max-width: 767px) {
            flex-direction: column;
            align-items: center;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__item {
        max-width: 240px;
        position: relative;
        @media(max-width: 767px) {
            max-width: 100%;
            margin: 0 0 30px;
            &:last-child {
                margin: 0;
            }
        }
        &:after {
            content: "";
            display: block;
            position: absolute;
            @media(max-width: 839px) {
                display: none;
            }
        }
        &-1 {
            text-align: right;
            &:after {
                width: 122px;
                height: 109px;
                background: url("images/struct/01.png") no-repeat;
                top: 5px;
                right: -134px;
            }
        }
        &-2 {
            text-align: right;
            &:after {
                width: 144px;
                height: 54px;
                background: url("images/struct/02.png") no-repeat;
                top: -33px;
                right: -127px;
            }
        }
        &-3 {
            &:after {
                width: 150px;
                height: 78px;
                background: url("images/struct/03.png") no-repeat;
                top: -39px;
                left: -145px;
            }
        }
        &-4 {
            &:after {
                width: 143px;
                height: 53px;
                background: url("images/struct/04.png") no-repeat;
                top: 6px;
                left: -150px;
            }
        }
    }

    &__title {
        font-size: 20px;
        color: #68b0c9;
        margin: 0 0 19px 0;
    }

    &__text {
        color: #606060;
        font-weight: 300;
        line-height: 17px;
    }

    &__image {
        @media(max-width: 767px) {
            margin: 30px 0;
        }
    }

}

.delivery {
    padding: 59px 0 70px 0;
    background: url("images/delivery/bg.webp") 50% 50%/cover no-repeat;
    .container {
        max-width: 770px;
        display: flex;
        justify-content: flex-end;
        @media(max-width: 767px) {
            flex-direction: column;
        }
    }
    &__price {
        margin: 19px 197px 0 0;
        width: 160px;
        height: 160px;
        position: relative;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #fff;
        border-radius: 50%;
        @media(max-width: 767px) {
            margin: 0 auto 30px auto;
        }
    }

    &__sale {
        color: #68b0c9;
        font-size: 17px;
        font-weight: 700;
        margin: 5px 0 18px 0;   
    }

    &__old {
        color: #1e1e1e;
        font-weight: 300;
        text-decoration: line-through;
        &:after {
            content: "";
            display: block;
            height: 1px;
            width: 96px;
            margin: 7px 0 9px 0;
            background-color: #e8e8e8;
        }
    }

    &__new {
        font-size: 24px;
        color: #d04545;
        position: relative;
        left: 4px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    &__title {
        color: #535353;
        font-size: 20px;
        line-height: 23px;
        margin: 0 0 9px 0;
        width: 230px;
        @media(max-width: 767px) {
            width: 100%;
        }
    }

    &__subtitle {
        color: #68b0c9;
        font-size: 20px;
        margin: 0 0 27px 0;
        padding: 4px;
        background-color: #fff;
        position: relative;
        &:after {
            content: "";
            display: block;
            position: absolute;
            width: 65px;
            height: 105px;
            background: url("images/delivery/arrow.png") no-repeat;
            top: 8px;
            right: -99px;
            @media(max-width: 944px) {
                left: -99px;
                transform: scale(-1, 1);
            }
            @media(max-width: 767px) {
                display: none;
            }
        }
    }

    &__tel {
        width: 260px;
        text-align: center;
        margin: 0 0 20px 0;
        height: 45px;
        border-radius: 22.5px;
        border: 1px solid #e8e8e8;
        font-weight: 500;
        font-size: 13px;
        @media(max-width: 767px) {
            width: 100%;
        }
    }

    &__submit {
        font-size: 14px;
        width: 260px;
        height: 45px;
        @media(max-width: 767px) {
            width: 100%;
        }
    }
}

.compare {
    padding: 62px 0 78px 0;
    .container {
        display: flex;
        @media(max-width: 767px) {
            flex-direction: column;               
        }
    }
    &__col {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        &:first-child {
            text-align: right;
            margin: 0 9px 0;
            @media(max-width: 767px) {
                align-items: flex-end;
                margin: 0 0 50px 0;            
            }
            .compare__title {
                color: #535353;
                margin: 0 32px 0 0;
                align-self: flex-end;
                @media(max-width: 767px) {
                    margin: 0 0 20px 0;
                }
            }
            .compare__body {
                @media(max-width: 767px) {
                    justify-content: flex-end;
                }
            }
            .compare__item {
                color: #939393;
            }
            .compare__image {
                position: relative;
                @media(max-width: 767px) {
                    right: -15px;
                }
                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    right: -5px;
                    width: 1px;
                    height: 299px;
                    background-color: #68b0c9;
                    @media(max-width: 767px) {
                        display: none;
                    }
                }
            }
        }
        &:last-child {
            @media(max-width: 767px) {
                align-items: start;
            }
            .compare__title {
                color: #68b0c9;
                margin: 0 0 0 32px;
                @media(max-width: 767px) {
                    margin: 0 0 20px 0;
                }
            }
            .compare__body {
                @media(max-width: 767px) {
                    justify-content: flex-end;
                }
            }
            .compare__item {
                color: #68b0c9;
            }
            .compare__image {
                @media(max-width: 767px) {
                    left: -15px;
                }
            }
        }
    }

    &__title {
        font-size: 22px;
        width: 150px;
        @media(max-width: 767px) {
            width: 100%;
            font-size: 27px;
        }
    }

    &__body {
        display: flex;
        justify-content: space-between;
        margin: 11px 0 0 0;
        @media(max-width: 767px) {
            align-items: center;
        }
    }

    &__list {
    }

    &__item {
        max-width: 210px;
        line-height: 18px;
        font-size: 15px;
        position: relative;
        margin: 0 0 28px 0;
        &:last-child {
            margin: 0;
        }
        @media(max-width: 767px) {
            max-width: 100%;
        }
        &:after {
            position: absolute;
            content: "";
            display: block;
            @media(max-width: 767px) {
                display: none;
            }
        }
        &-1 {
            &:after {
                background: url("images/compare/01.png") no-repeat;
                width: 81px;
                height: 41px;
                top: 5px;
                right: -103px;
            }
        }
        &-2 {
            &:after {
                background: url("images/compare/02.png") no-repeat;
                width: 87px;
                height: 29px;
                top: 3px;
                right: -103px;
            }
        }
        &-3 {
            &:after {
                background: url("images/compare/03.png") no-repeat;
                width: 87px;
                height: 23px;
                top: -14px;
                right: -107px;
            }
        }
        &-4 {
            &:after {
                background: url("images/compare/04.png") no-repeat;
                width: 85px;
                height: 34px;
                top: -28px;
                right: -108px;
            }
        }
        &-5 {
            &:after {
                background: url("images/compare/05.png") no-repeat;
                width: 82px;
                height: 42px;
                top: 4px;
                left: -105px;
            }
        }
        &-6 {
            &:after {
                background: url("images/compare/06.png") no-repeat;
                width: 86px;
                height: 30px;
                top: 2px;
                left: -104px;
            }
        }
        &-7 {
            &:after {
                background: url("images/compare/07.png") no-repeat;
                width: 88px;
                height: 22px;
                top: -14px;
                left: -105px;
            }
        }
        &-8 {
            &:after {
                background: url("images/compare/08.png") no-repeat;
                width: 84px;
                height: 34px;
                top: -31px;
                left: -105px;
            }
        }
    }

    &__item {
    }

    &__image {
        @media(max-width: 767px) {
            position: relative;
        }
    }
}

.address {
    padding: 50px 0;
    background-color: #ecf3f8;
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        @media(max-width: 767px) {
            flex-direction: column;
        }
    }
    &__google-map {
        flex: 0 1 50%;
        height: 320px;
        border-radius: 20px;
        @media(max-width: 767px) {
            flex: 1 1 100%;
            order: 1;
            min-height: 460px;
            position: relative;
            width: calc(100% + 30px);
            border-radius: 0;
        }
        @media(max-width: 569px) {
            min-height: 370px;
        }
        @media(max-width: 424px) {
            min-height: 280px;
        }
    }

    &__body {
        flex: 1 1 50%;
        max-width: 272px;
        margin: 0 auto;
        text-align: center;
        @media(max-width: 767px) {
            flex: 1 1 100%;
            max-width: 100%;
            order: 0;
            margin: 0 0 50px 0;
            align-self: stretch;
        }
    }

    &__image {
        margin: 0 0 19px 0;
    }

    &__text {
        font-weight: 300;
        color: #535353;
        margin: 0 0 19px 0;
    }

    &__subtitle {
        font-size: 20px;
        color: #68b0c9;
        margin: 0 0 50px 0;
        @media(max-width: 767px) {
            margin: 0 0 19px 0;
        }
    }

    &__button {
        width: 260px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        @media(max-width: 767px) {
            width: 100%;
        }
    }
}

.footer {
    padding: 20px 0;
    font-weight: 300;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media(max-width: 529px) {
            flex-direction: column;
        }
    }
    &__logo {
        @media(max-width: 529px) {
            margin: 0 0 15px;
        }
    }

    &__politics {
        text-decoration: underline;
        color: #68b0c9 !important;
        @media(max-width: 529px) {
            text-align: center;
            margin: 0 0 15px;
        }
    }

    &__numbers {
        color: #505050;
        text-align: right;
        @media(max-width: 529px) {
            text-align: center;
            margin: 0 0 15px;
            line-height: 17px;
        }
    }
}

/* fixed */
.fixed-pulse {
    background-color: #4fbaea;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    text-align: center;
    line-height: 100px;
    color: #fff;
    font-size: 50px;
    cursor: pointer;
    &:before,
    &:after {
        content: " ";
        display: block;
        position: absolute;
        border: 50%;
        border: 1px solid #4fbaea;
        left: -20px;
        right: -20px;
        top: -20px;
        bottom: -20px;
        border-radius: 50%;
        animation: pulse 1.5s linear infinite;
        transition: border-color .25s ease;
    }
    @media(max-width: 767px) {
        width: 80px;
        height: 80px;
        bottom: 20px;
        right: 20px;
        font-size: 40px;
        line-height: 80px;
    }
}
@keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}
@media(max-width: 767px) {
    @keyframes pulse {
        0% {
            transform: scale(0.5);
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            transform: scale(1);
            opacity: 0;
        }
    }
}

/* fancybox popups */
.fancybox-bg {
    background: #0a2531;
}
.fancybox-is-open .fancybox-bg {
    opacity: .8;
}
.fancybox-close-small {
    display: none;
}
.popup {
    display: none;
    width: 300px;
    border-radius: 20px;
    position: relative;
    overflow: visible;
    font-family: "Museo Sans";
    font-weight: 700;
	&__title {
        margin: 0 0 14px 0;
        font-size: 20px;
        color: #5892a6;
        text-align: center;
    }
    
	&__text {
        margin: 0 0 19px 0;
        font-size: 12px;
        text-align: center;
        font-weight: 300;
    }
    
	&__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
	&__tel {
        width: 220px;
        border: 1px solid #e8e8e8;
        border-radius: 20px;
        height: 40px;
        font-size: 13px;
        font-weight: 500;
        text-align: center;
        margin: 0 0 15px 0;
    }
    
	&__submit {
        width: 220px;
        height: 45px;
    }
    
	&__close {
        position: absolute;
        width: 24px;
        height: 24px;
        background: url("images/!popup/close.png") no-repeat;
        top: -44px;
        right: 0;
        transition: opacity .25s ease;
        &:hover {
            opacity: 0.5;
        }
	}
}
.popup-back-call {
    padding: 40px 32px;
}
.popup-thanks {
    padding: 40px 28px;
    .popup__text {
        width: 181px;
        margin: 0 auto;
        line-height: 15px;
    }
}